.category {
  @include basic;

  &__boxOne {
    padding-bottom: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $light-gray-color;
    // transition: all 0.3s;
    &__title {
      text-transform: uppercase;
      font-size: 2.2rem;
    }
    &__icon {
      color: $dark-gray-color;
      font-size: 2.2rem;
      transition: transform 0.3s;
      &--iconUp {
        transform: rotate(180deg);
      }
    }
  }
  &__boxSecond {
    margin-top: 2em;

    &__list {
      display: flex;
      flex-direction: column;
      list-style: none;
      &__item {
        margin: 0.5em;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 2rem;
        color: $dark-gray-color;
        i {
          width: 50px;
          // padding: 0.2em;
          font-size: 1.8rem;
        }
        p {
          font-size: 1.7rem;
          color: $black-color;
          font-weight: 300;
        }
      }
    }
    &--showContent {
      display: none;
    }
  }
}

@media (min-width: 992px) {
  .category {
    &__boxOne {
      i {
        display: none;
      }
    }
    &__boxSecond {
      display: flex;
      &__list {
        &__item {
          cursor: pointer;
          i,
          p {
            transition: color 0.3s;
          }
        }
        &__item:hover {
          i,
          p {
            color: $refs-color;
          }
        }
      }
    }
  }
}
