.header {
  width: 100%;
  background-color: $white-color;
  &__wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: $white-color;
  }

  &__logo {
    font-size: 3rem;
    color: $main-color;
  }
  &__searchbarBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding-left: 0.5em;
    margin: 0 auto;
    border: 1px solid $light-gray-color;
    border-radius: 2px;
    &__searchbar {
      flex-grow: 2;
      outline: none;
      border: none;
    }
    &__searchHref {
      margin-right: 0.3em;
      font-size: 1.5rem;
      text-decoration: none;
      color: $refs-color;
    }
    &__searchBtn {
      border: 1px solid $main-color;
      background-color: $main-color;
      .fa-search {
        font-size: 1.6rem;
        color: $white-color;
      }
    }
  }
  i {
    padding: 0.4em;
    font-size: 2rem;
    color: $dark-gray-color;
  }
}

@media (min-width: 992px) {
  .header {
    &__logo {
      order: 1;
    }
    &__searchbarBox {
      width: 65%;
      order: 2;
      &__searchBtn {
        height: 100%;
      }
    }
    &__userIcons {
      order: 3;
    }
  }
}
