.login {
  @include basic;
  height: 250px;
  &__box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 250px;
    &__item {
      display: flex;
      align-items: center;
      i {
        width: 20px;
        padding-right: 1.8em;
        font-size: 3rem;
        color: $main-color;
      }
      p {
        font-size: 1.6rem;
      }
      &--colorChange {
        i {
          color: $light-gray-color;
        }
      }
    }
    &__btn {
      padding: 0.7em;
      background-color: $main-color;
      border: none;
      border-radius: 2px;
      color: $white-color;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
}
