.main {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
}
.blockFirst {
  &--coverContent {
    display: none;
  }
}
.blockSecond {
  &--coverContent {
    display: none;
  }
}

@media (min-width: 992px) {
  .main {
    flex-direction: row;
    justify-content: space-between;
  }
  .blockFirst {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 1em;
    &--coverContent {
      display: none;
    }
  }
  .blockSecond {
    display: flex;
    flex-direction: column;
    &--coverContent {
      display: none;
    }
  }
}
