.offers {
  @include basic;
  display: none;

  &__title {
    font-size: 2.2rem;
    text-transform: uppercase;
    padding-bottom: 0.3em;
    border-bottom: 1px solid $light-gray-color;
  }
  &__box {
    &__item {
      display: flex;
      justify-content: space-between;
      padding-top: 1em;
    }
  }
  &--showOffers {
    display: unset;
    flex-grow: 1;
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  .offers {
    &--showOffers {
      margin-left: 1em;
    }
  }
}
