.recommended {
  @include basic;
  height: 300px;
  overflow: hidden;

  &__title {
    margin-bottom: 1em;
    font-size: 2.2rem;
    text-align: center;
  }
  &__watch {
  }
  &__box {
    // margin: 0 auto;
    display: flex;
    overflow-x: auto;

    &__item {
      margin: 0 6em;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      &__img {
        margin-right: 2em;
        img {
          width: 150px;
          height: 100px;
          border-radius: 2px;
          object-fit: cover;
        }
      }
      &__details {
        h3 {
          font-size: 2rem;
        }
        :nth-child(2) {
          font-size: 1.5rem;
        }
        :nth-child(3) {
          color: $dark-gray-color;
          font-size: 1.2rem;
        }
      }
    }
  }
  &__more {
    margin-top: 0.3em;
    text-align: center;
    text-transform: uppercase;
    color: $refs-color;
    letter-spacing: 2px;
    font-size: 1.8rem;
  }
}
@media (min-width: 992px) {
  .recommended {
    margin-top: 1em;
    &__box {
      max-width: 360px;
    }
  }
}
@media (min-width: 1024px) {
  .recommended {
    &__box {
      max-width: 450px;
      &__item {
        margin: 0 4em;
      }
    }
  }
}
@media (min-width: 1100px) {
  .recommended {
    &__box {
      max-width: 550px;
    }
  }
}
@media (min-width: 1200px) {
  .recommended {
    &__box {
      max-width: 650px;
    }
  }
}
@media (min-width: 1280px) {
  .recommended {
    &__box {
      max-width: 750px;
    }
  }
}

@media (min-width: 1400px) {
  .recommended {
    &__box {
      max-width: 800px;
      &__item {
        margin: 0 5em;
      }
    }
  }
}
