*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
}
body {
  background-color: $body-color;
}
.wrapper {
  overflow: hidden;
}
input,
button {
  font-family: "Open Sans", sans-serif;
}
