*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: $body-color;
}
.wrapper {
  overflow: hidden;
}
main {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  main {
    max-width: 1200px;
    margin: 0 auto;
  }
}
