$main-color: #ee5909;
$refs-color: #389f8c;
$body-color: #e4e1e1;
$white-color: #ffffff;
$dark-gray-color: #565656;
$dark-gray-color-op: #56565686;
$light-gray-color: #a4a4a4;
$footer-color: #41575d;
$nav-bg-color: #ebebeb;
$black-color: #000000;
